.base {
  background: #fef9f5;
  border-top: 1px solid #e05e00;
  padding: 0.25rem 1rem 1rem 0.25rem;
  line-height: inherit;
}

.base h2 {
  font-family: inherit;
  font-size: 1em;
  color: #e05e00;
  line-height: inherit;
  display: inline;
  font-weight: 800;
  margin-right: 0.5em;
}

.base p {
  display: inline;
}
