.base .preview {
    border: 1px solid #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    position: relative;
}

.base[data-appearance='dark'] .preview {
    background: var(--brand-main);
    border: 0;
}

.btn {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    font-family: 'GuardianTextSans';
    background: none;
    border: none;
    text-decoration: underline;
    background: var(--highlight-main);
    padding: 0.5rem;
    font-weight: bold;
    color: var(--neutral-7);
}

.preview:hover {
    box-shadow: 0 0 0 2px var(--highlight-main);
}

.preview:hover .btn {
    opacity: 1;
}

.code {
    background: #121221;
}
