* {
  margin: 0;
  padding: 0;
}

.base {
  font-family: "Egyptian", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  line-height: 1.6;
  color: #121212;
  min-height: 100vh;
}

.base > .sidebar {
  flex: 1 1 auto;
  min-width: 16em;
  padding: 1.5rem 0;
}

.base > main {
  flex: 1 1 100%;
  padding: 1.5rem 3rem 3rem;
}

.sidebar {
  background: #052962;
  font-family: "GuardianTextSans";
  color: #fff;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  display: block;
  color: currentColor;
  padding: 0.25rem 1.5rem 1.5rem;
  text-decoration: none;
  position: relative;
  line-height: 1.2;
}

.sidebar a:before {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  left: 1.5rem;
  top: -1px;
  background: #506991;
}
.sidebar a:after {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  left: 1.5rem;
  bottom: 0;
  background: #506991;
}

.sidebar img {
  padding: 0.25rem 1.5rem 1.5rem;
}

.sidebar a:hover {
  text-decoration: underline;
  box-shadow: inset -2px 0 0 0 var(--higlight-main);
}

.sidebar a.activeLink {
  box-shadow: inset -4px 0 0 0 var(--higlight-main);
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Headline;
}

.clamp {
  max-width: 56em;
  margin: auto;
}
