* {
  margin: 0;
  padding: 0;
}

.base {
  font-family: "Egyptian", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  line-height: 1.6;
  color: #121212;
  min-height: 100vh;
}

.base > .sidebar {
  flex: 1 1 auto;
  min-width: 16em;
  padding: 5rem 0 1.5rem;
}

.base > main {
  flex: 1 1 100%;
  padding: 0 3rem 3rem;
  border-top: 1px solid #dcdcdc;
  margin-top: calc(5rem - 1px);
}

.sidebar {
  background: #052962;
  font-family: "GuardianTextSans";
  color: #fff;
  border-right: 1px solid #052962;
}

.sidebar ul {
  list-style: none;
}

.sidebar .topLink {
  display: block;
  color: currentColor;
  padding: 0.25rem 1.5rem 1.5rem;
  text-decoration: none;
  position: relative;
  line-height: 1.2;
  font-family: Headline;
  font-size: 1.25em;
}

.sidebar .link {
  display: block;
  color: currentColor;
  padding: 0.25rem 1.5rem 1.5rem;
  text-decoration: none;
  position: relative;
  line-height: 1.2;
}

.sidebar .topLink:before {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  left: 1.5rem;
  top: -1px;
  background: #506991;
}

.sidebar .topLink:after {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  left: 1.5rem;
  bottom: 0;
  background: #506991;
}

.sidebar img {
  padding: 1.33rem 1.5rem;
  position: absolute;
  top: 0;
  display: block;
}
.sidebar .link:hover,
.sidebar .topLink:hover {
  text-decoration: underline;
  box-shadow: inset -2px 0 0 0 var(--higlight-main);
}

.sidebar a.activeLink {
  box-shadow: inset -4px 0 0 0 var(--higlight-main);
  color: var(--higlight-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Headline;
}

.sidebar details ul {
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0.75rem 0 0;
}
.sidebar details[open] .topLink:after {
  display: none;
}
