# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 												@guardian/dotcom-platform

/dotcom-rendering/src/components/marketing/ 	@guardian/growth
/dotcom-rendering/src/client/userFeatures/ 		@guardian/supporter-revenue-stream
