{
    "hooks": {
        "pre-push": "make validate-prepush && yarn run createtoc && yarn run addandcommittoc",
        "post-merge": "./scripts/git-hooks/post-merge",
        "pre-commit": "run-if-changed",
    }
}
