{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "no-duplicate-selectors": null,
    "no-descending-specificity": null,
    "property-blacklist": [["font-family"], { "message": "Please use the typography functions from pasteup/typography"}]
  }
}
