# this file helps speed up local builds https://www.typescriptlang.org/tsconfig#incremental
tsconfig.tsbuildinfo

# CDK asset staging directory
.cdk.staging
cdk.out

# ignore generated manifests
src/generated
