# See: https://github.com/prettier/prettier/issues/6280#issuecomment-510293569
# This config works alongside `prettier . --check`

# Exclude everything by default
/**/*

# Include all folders
!/**/*/

# Ignore build files
dist
jsconfig.json
target

# But exclude node_modules folders anywhere
node_modules/

# Include specific file extensions if they appear under a "src" folder
!/src/**/*.ts
!/src/**/*.tsx
!/src/**/*.js
!/fixtures/**/*.js
!/fixtures/**/*.ts
!/cypress/**/*.js
!/cypress/**/*.ts
!/scripts/**/*.js
!/.storybook/**/*.js
!/index.d.ts
!/*.js
!package.json

# Ignore specific files
/**/*/curl-with-js-and-domReady.js
