/* Layout: Annotate */
main[data-layout]::before {
	content: 'layout: ' attr(data-layout);
	font-family: monospace;
	background-color: purple;
	color: white;

	padding: 5px;
	position: relative;
}

/* Islands: Outline child elements & label */
gu-island::before {
	content: 'island: ' attr(name);
	font-family: monospace;
	background-color: blue;
	color: white;

	padding: 5px;
	position: relative;
	top: -5px;
	margin-top: 5px;
}

gu-island > * {
	outline: 4px blue solid;
}

/* Elements - outline & label */
figure[data-spacefinder-type]::before {
	content: 'element: ' attr(data-spacefinder-type);
	font-family: monospace;
	background-color: red;
	color: white;

	padding: 5px;
	position: relative;
}

figure[data-spacefinder-type] {
	outline: 4px red solid;
}
