@font-face {
  font-family: "Headline";
  src: url("https://pasteup.guim.co.uk/webfonts/1.0.0/noalts-not-hinted/GHGuardianHeadline-Bold.woff")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Text Sans";
  src: url("https://pasteup.guim.co.uk/webfonts/1.0.0/noalts-not-hinted/GuardianTextSans-Regular.woff")
    format("woff2");
  font-weight: regular;
  font-style: italic;
}
@font-face {
  font-family: "Text Sans";
  src: url("https://pasteup.guim.co.uk/webfonts/1.0.0/noalts-not-hinted/GuardianTextSans-Bold.woff")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Egyptian";
  src: url("https://pasteup.guim.co.uk/webfonts/1.0.0/noalts-not-hinted/GuardianTextEgyptian-Regular.woff")
    format("woff2");
  font-weight: regular;
  font-style: italic;
}
