### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# IDE files
.idea
.vscode/*
!.vscode/extensions.json
.metals/
.bloop/
project/.bloop/
project/metals.sbt
.bsp/

# System files
.DS_Store

# Built files
dist

# Istanbul/Jest code coverage
coverage

# CDK asset staging directory
.cdk.staging
cdk.out
