.md {
    max-width: 56em;
    margin: auto;
}

.md > h1,
.md > div > h2,
.md > div > h3,
.md > div > h4,
.md > div > h5,
.md > div > h6 {
    margin-top: 3.75rem;
    line-height: 1;
    padding-top: 0.25rem;
}

.md > h1 {
    margin: 0;
}

.md > div > p,
.md > div > ul,
.md > div > ol,
.md > div > aside {
    max-width: 36rem;
}

.md > h1:after {
    display: block;
    content: '';
    background: repeating-linear-gradient(
        to bottom,
        var(--neutral-86),
        var(--neutral-86) 0.0625rem,
        transparent 0.0625rem,
        transparent 0.25rem
    );
    height: 1rem;
    width: 100%;
    margin-top: 3rem;
}

.md > div > h2 {
    border-top: 1px solid var(--neutral-86);
}

.md > div > * > li {
    margin-bottom: 0.33rem;
}

.md > div > h2,
.md > div > h3,
.md > div > h4,
.md > div > h5,
.md > div > h6 {
    margin-bottom: 1rem;
}

.md > h1,
.md > div > p,
.md > div > figure,
.md > div > aside {
    margin-bottom: 0.5rem;
}

.md > div > aside {
    margin-top: 1rem;
}

.md > div > ul,
.md > div > ol {
    margin-bottom: 1rem;
    color: #333333;
}

.md > div > ul {
    margin-left: 1.5rem;
}

.md > div > table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'GuardianTextSans';
    line-height: 1.4;
    background: #f6f6f6;
}

.md > div > table td {
    border: 1px solid #dcdcdc;
    padding: 1rem;
}

.md > div > table[data-type='preview'] td {
    width: 50%;
}

.md > div > table[data-type='preview'] figure {
    margin: 0;
}
