.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  margin-top: 3.75rem;
  line-height: 1;
  padding-top: 0.25rem;
}

.md p,
.md ul,
.md ol {
  max-width: 36rem;
}

.md h1:after {
  display: block;
  content: "";
  background: repeating-linear-gradient(
    to bottom,
    #dcdcdc,
    #dcdcdc 0.0625rem,
    transparent 0.0625rem,
    transparent 0.25rem
  );
  height: 1rem;
  width: 100%;
  margin-top: 3rem;
}

.md h2,
.md h1 {
  border-top: 1px solid #dcdcdc;
}

.md li {
  margin-bottom: 0.25rem;
}

.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  margin-bottom: 1rem;
}

.md h1,
.md p,
.md figure {
  margin-bottom: 0.5rem;
}
.md ul,
.md ol {
  margin-bottom: 1rem;
}

.md ul {
  margin-left: 1.5rem;
}

.md ul li {
  list-style: none;
  position: relative;
}

.md ul li:before {
  content: "";
  width: 0.9em;
  height: 0.9em;
  background: var(--higlight-main);
  display: inline-block;
  position: absolute;
  top: 0.33em;
  left: -1.5em;
  border-radius: 100%;
}

.md table {
  border-collapse: collapse;
  width: 100%;
  font-family: "GuardianTextSans";
  line-height: 1.4;
  background: #f6f6f6;
}

.md table td {
  border: 1px solid #dcdcdc;
  padding: 1rem;
}

.md table[data-type="preview"] td {
  width: 50%;
}

.md table[data-type="preview"] figure {
  margin: 0;
}
