{
    "extends": "../.babelrc",
    "plugins": [
        "react-hot-loader/babel",
        "babel-plugin-syntax-dynamic-import",
        [
            "babel-plugin-provide-modules",
            {
                "react": "React"
            }
        ]
    ]
}
