name: Checks

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      save_build_artifact:
        description: 'Whether to save the built files as an artifact'
        required: false
        type: boolean
        default: false
    secrets:
      FASTLY_AB_TESTING_CONFIG:
        required: true
      FASTLY_API_TOKEN:
        required: true

jobs:
  checks:
    runs-on: ubuntu-latest
    name: Checks
    defaults:
      run:
        working-directory: ab-testing/config
    env:
      FASTLY_AB_TESTING_CONFIG: ${{ secrets.FASTLY_AB_TESTING_CONFIG }}
      FASTLY_API_TOKEN: ${{ secrets.FASTLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Node environment
        uses: ./.github/actions/setup-node-env

      - name: Test
        run: pnpm test

      - name: Lint
        run: pnpm lint

      - name: Prettier Check
        run: pnpm prettier:check

      - name: Typecheck
        run: pnpm tsc

      - name: Validate
        run: pnpm validate

      - name: Build
        run: pnpm build

      - if: ${{ inputs.save_build_artifact }}
        uses: actions/upload-artifact@v5
        with:
          name: ab-testing-build
          path: ab-testing/config/dist
