name: DCR Build Check
on:
  push:
    paths-ignore:
      - 'dotcom-rendering/docs/**'

jobs:
  build_check:
    name: DCR Build Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node environment
        uses: ./.github/actions/setup-node-env

      - name: Generate production build
        run: make build
        working-directory: dotcom-rendering

      - name: Validate Build
        run: make buildCheck
        working-directory: dotcom-rendering
