name: DCR CICD

on:
  push:
    paths-ignore:
      - 'ab-testing/**'
      - '!ab-testing/config/abTests.ts'

jobs:
  container:
    permissions:
      packages: write
    uses: ./.github/workflows/container.yml

  prettier:
    uses: ./.github/workflows/prettier.yml

  jest:
    uses: ./.github/workflows/jest.yml

  lint:
    uses: ./.github/workflows/lint.yml

  playwright:
    needs: [container]
    uses: ./.github/workflows/playwright.yml
    with:
      container-image: ${{ needs.container.outputs.container-image }}

  publish:
    permissions:
      id-token: write
      contents: read
      pull-requests: write # required by riff-raff action
    needs: [container, prettier, jest, lint]
    uses: ./.github/workflows/publish.yml
    with:
      container-image: ${{ needs.container.outputs.container-image }}
    secrets:
      GU_RIFF_RAFF_ROLE_ARN: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
