name: Compressed Size

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '10.15.3'
            - uses: preactjs/compressed-size-action@v1
              with:
                  repo-token: '${{ secrets.GITHUB_TOKEN }}'
                  build-script: makeBuild
