name: cypress
on: [push]
jobs:
    cypress-chrome:
        name: Cypress - Chrome
        runs-on: ubuntu-16.04
        strategy:
          fail-fast: false
          matrix:
            group: [1, 2, 3, 4, 5, 6]
        steps:
            - name: Checkout
              uses: actions/checkout@v1
            - name: Cypress run
              uses: cypress-io/github-action@v2
              env:
                NODE_ENV: development
              with:
                  start: node scripts/frontend/dev-server
                  wait-on: 'http://localhost:3030'
                  wait-on-timeout: 180
                  quiet: true
                  browser: chrome
                  spec: cypress/integration/parallel-${{ matrix.group }}/*.js
    cypress-firefox:
        name: Cypress - Firefox
        runs-on: ubuntu-16.04
        container:
          image: cypress/browsers:node14.15.0-chrome86-ff82
          options: --user 1001
        steps:
            - name: Checkout
              uses: actions/checkout@v1
            - name: Cypress run
              uses: cypress-io/github-action@v2
              env:
                NODE_ENV: development
              with:
                  start: node scripts/frontend/dev-server
                  wait-on: 'http://localhost:3030'
                  wait-on-timeout: 180
                  quiet: true
                  browser: firefox
									spec: cypress/integration/parallel-${{ matrix.group }}/*.js
