name: DCR cypress
on:
  push:
    paths-ignore:
      - 'apps-rendering/**'
      - 'dotcom-rendering/docs/**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Generate production build
        run: make build
        working-directory: dotcom-rendering

      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: dotcom-rendering/dist
  cypress:
    name: DCR Cypress
    runs-on: ubuntu-20.04
    needs: build
    strategy:
      fail-fast: false
      matrix:
        group: [1, 2, 3, 4, 5, 6]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: dotcom-rendering/dist

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          start: make start-ci
          working-directory: dotcom-rendering
          wait-on: 'http://localhost:9000'
          wait-on-timeout: 30
          browser: chrome
          spec: cypress/e2e/parallel-${{ matrix.group }}/*.js
