name: Your-Labeler-name // change it before commit
on: pull_request

jobs:
  label:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/labeler@v3
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yml  //change it before commit
