name: DCR Run Lighthouse CI
on:
  workflow_dispatch:

jobs:
  lhci:
    name: DCR Lighthouse
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        group:
          - 'http://localhost:9000/Article/https://www.theguardian.com/commentisfree/2020/feb/08/hungary-now-for-the-new-right-what-venezuela-once-was-for-the-left#noads'
          - 'http://localhost:9000/Front/https://www.theguardian.com/uk'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      # Make sure we install dependencies in the root directory
      - run: yarn install --immutable
      - run: make build
        working-directory: dotcom-rendering
      - name: Install and run Lighthouse CI
        working-directory: dotcom-rendering
        env:
          LHCI_GITHUB_TOKEN: ${{ secrets.LHCI_GITHUB_TOKEN }}
          LHCI_URL: ${{ matrix.group }}
        run: |
          npm install -g puppeteer-core@2.1.0 @lhci/cli@0.10.0
          lhci autorun

      # https://github.com/denoland/setup-deno#latest-stable-for-a-major
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Surface Lighthouse Results
        run: |
          deno run \
            --allow-read \
            --allow-net=api.github.com \
            --allow-env=HOME,GITHUB_TOKEN,GITHUB_EVENT_PATH,LHCI_URL \
            scripts/deno/surface-lighthouse-results.ts
        env:
          LHCI_URL: ${{ matrix.group }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
