name: DCR Schema Check
on:
  push:
    paths-ignore:
      - "apps-rendering/**"
      - "dotcom-rendering/docs/**"

jobs:
  build_check:
    name: DCR Schema Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node
        uses: guardian/actions-setup-node@main

      # Cache npm dependencies using https://github.com/bahmutov/npm-install
      - uses: bahmutov/npm-install@v1

      - name: Run check-schema script
        run: make check-schema
        working-directory: dotcom-rendering
