name: DCR Stories Check
on:
  push:
    paths-ignore:
      - 'dotcom-rendering/docs/**'

jobs:
  build_check:
    name: DCR Stories Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node environment
        uses: ./.github/actions/setup-node-env

      - name: Run check-stories script
        run: make check-stories
        working-directory: dotcom-rendering
